@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*Cabeçalho*/
header{
    display: flex;
    padding: 10px;
    font-family:'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:black;
    align-items: center;
   
}
header a{
    height:8vh;
    display: flex;
    padding: 10px;
    align-items: center;
    gap: .5rem;
    font-weight: bolder;
    text-decoration: none;
    color: #ffbf00;
    font-size: 1.5em;
    flex-wrap:wrap ;
    
}
header img{
    width: 1.5em;
    background-color: #ffbf00;
    border-radius: 50%;
    padding: 10px;
}
/*NAVEGAÇAO*/
nav{
    box-sizing: border-box;
    display: flex;
    background-color: #ffbf00;
    margin-top: auto;
}
nav a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    flex: 1;
    padding: 10px;
    text-align: center;
    color: black;
    font-weight:bolder;
}
nav a:hover{
    background-color: #f5cc52;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

section#apresentacao{
    height: 80vh;
    width: 100%;
    background-image:url(../imagens/pexels-andrea-piacquadio-3771097.jpg);
    background-size: cover;
    background-position:bottom center;
    display: flex;
    flex-direction:column;
    gap: 1.3em;
    justify-content: center;
    text-align: center;
    font-family:'Noto Serif Display', serif;
}
#apresentacao h2{
    color: white;
    font-size:1.8em;
    font-weight: bolder;
    background-color:rgba(0, 0, 0, 0.363);
}
#apresentacao p{
    color: white;
    font-size:1.1em;
    font-weight: bolder;
    background-color:rgba(0, 0, 0, 0.363);
    
}
/*section welcome*/
section#welcome{
    background-color:black;
    color: #ffbf00;
    text-align: center;
    font-family:'Noto Serif Display', serif; 

    padding: 20px;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#welcome p{
    font-size: 1em;
}
#welcome h2{ 
    font-size: 1.5em;
}
/*section areas*/
section#areas{
    margin:  80px 0px ;
    display: flex;
    gap: .4rem;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    height:auto;
    align-items: center;
}
#areas div{    
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    height:30%;
    width: 100%;
    flex-wrap: wrap;
    gap: 1em;
    background-color: #ebe7e7;
}

#areas div > img{
    margin: auto;
    width:7vh;
    padding: 10px;
    border-radius: 50%;
    background-color: #ffbf00;
}

/*footer*/
footer{
    background-color:black;
    text-align: center;
    padding: 20px;
    
}
footer p{
    color: white;
}